h1, h3 {
    text-align: center
}

body { 
    background-color: rgb(4, 47, 89);
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0 auto;
}

header {
    text-decoration-color: aliceblue;
    background-color: rgba(138, 9, 9, 0.848);
    position: sticky;
    top: 0;
    padding: 16px;
}

main{
    width: 960 px;
    border: 1px white solid;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(138, 9, 9, 0.848);
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    width: 100%;
}

nav ul li{
    float: left;
    border-right: 1px solid black;
    padding: 2px;
}

nav ul li a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(101, 167, 233)
}